@{
    ViewData["Title"] = "Respostas do teste";
}
<h6>Lógica </h6>
<br />
<div style="margin-bottom: 20px;">
    <p>
    1. Quantos anos tem João se, daqui há 38 anos, ele vai ser 3 vezes mais velho do que é hoje? 
    </p>
    <div class="form-control" style="width: 600px; height: auto; background: #e9ecef;">
        [     ]13
        <br />[     ]17
        <br /><strong>[ x    ]19</strong>
        <br />[     ]21
        <br />[     ]24
        <br />[     ]38
    </div>
</div>
<br />
<div style="margin-bottom: 20px;">
    <p>
        2.João comeu metade das maçãs que ele tinha. Depois disso, ele deu 2 maçãs para sua irmã Maria, que o deixou com apenas 3 maçãs.
        Quantas maçãs João teve antes de tudo isso?
    </p>
    <div class="form-control" style="width: 600px; height: auto; background: #e9ecef;">
              [     ]5
        <br />[     ]6
        <br />[     ]7
        <br />[     ]8
        <br />[     ]9
        <br /><strong>[ x    ]10</strong>
    </div>
</div>
<div style="margin-bottom: 20px;">
    <p>
        3. Irmão e irmã estão comendo uma barra de chocolate. Quanto tempo é necessário para eles comerem o chocolate se o irmão sozinho iria comê-lo em 4 min e a irmã sozinha iria comê-lo em 6 min?
    </p>
    <div class="form-control" style="width: 600px; height: auto; background: #e9ecef;">
              [     ]2 min 24 sec
        <br />[     ]0 min 25 sec
        <br />[     ]2 min 0 sec
        <br />[     ]2 min 15 sec
        <br />[     ]3 min 0 sec
        <br />[     ]10 min 0 sec
    </div>
</div>
<div style="margin-bottom: 20px;">
    <p>
        4. Como declarar e instanciar um objeto do tipo Carro?
    </p>
    <div class="form-control" style="width: 600px; height: auto; background: #e9ecef;">
              [     ]Carro = Carro( );
        <br /><strong>[   x  ]Carro carro = new Carro( )</strong>;
        <br />[     ]Carro carro = new Carro{ };
        <br />[     ]Carro carro = Carro( );
        <br />[     ]Carro = new Carro{ };
    </div>
</div>
<div style="margin-bottom: 20px;">
    <p>
        5. Como converter a string “8” para um número inteiro e armazenar na variável num do tipo int?
    </p>
    <div class="form-control" style="width: 600px; height: auto; background: #e9ecef;">
              [     ]num = “8”.ToInt();
        <br />[     ]num = “8”(int);
        <br />[     ]num = “8”.ToInt32();
        <br />[     ]num = Convert.ToInt(“8”);
        <br /><strong>[  x   ]num = Convert.ToInt32(“8”);</strong>
    </div>
</div>